// .confirm-infomation {
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   .overlay {
//     width: 100%;
//     height: 100%;
//     background: rgba(253, 80, 141, .49);
//   }
//   .content {
//     position: relative;
//     width: 34vw;
//     min-height: 26vw;
//     padding: 2.3vw;
//     background: url(../images/bg-full.png) no-repeat;
//     background-size: 34vw;
//     h3 {
//       color: #885e54;
//     }
//     .btn-submit {
//       background-color: #a6e2e3;
//     }
//   }
// }
