.products-page {
  h2 {
    background: url(../images/tagline/text-sanphamsuacongthuc.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
  .img-holder {
    width: 100%;
    @screen xl {
      width: 45%;
    }
  }
  h3 {
    font-size: 1.4rem;
    @screen xl {
      font-size: 1.8rem;
    }
    font-weight: 600;
  }

  h4, .intro {
    font-size: 1.1rem;
  }
  .featfure-point-img li {
    width: 5.6rem;
    margin: 0 .2vw;
  }
}
.faqs-page {
  h2 {
    background: url(../images/tagline/text-hoidap.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
}
.news-event-page {
  h2 {
    background: url(../images/tagline/text-news-events.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
}
.news-detail-page{
  padding-bottom: 0;
  .title-large {
    background: url(../images/tagline/text-tintuc.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
  p {
    @apply mt-4;
  }
}
.other-news-dt {
  background: #fed0d5 url(../images/bg-congdung-2.png) top center no-repeat;
  background-size: 100%;
  .box.small {
    &:after {
      background: url(../images/bg-goc-lbp.png);
      background-size: 3.4375vw;
    }
  }
  .box.pink {
    flex: 0 100%;
  }
}
.title-detail {
  font-size: 1.38rem;
  color: #885e54;
  font-weight: 600;
  margin-bottom: .7rem;
  @apply font-semibold;
  @screen xl {
  font-size: 2.38rem;
  margin-bottom: 2.2rem;

  }
}
.search-page{
  .title-large {
    background: url(../images/tagline/text-ketquatimkiem.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
  .list {
    @apply flex flex-wrap justify-between items-center;
    flex: 30%;

  }
}
