#top-bar,
footer {
  background: #ff508e;
}

#top-bar {
  --animation-time: 0.5s;
  z-index: 50;
  .sticky-menu ul {
    display: none;
    ul {
      display: none !important;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: topbar var(--animation-time) 1;
    .sticky-menu ul,
    .logo {
      display: flex;
    }
    .logo {
      width: 12vw;
    }
    .hotline {
      display: none;
    }
  }
}

@keyframes topbar {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

body.sticky {
  margin-top: 3rem;
}

// User menu
#user-menu {
  @apply transform opacity-0 scale-95;
  display: none;
  &.active {
    @apply transform opacity-100 scale-100;
  }
}

// Mobile menu
#mobile-menu-btn {
  &.active {
    svg {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

#mobile-menu {
  @apply transform opacity-0 -translate-y-full;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  background: #ff508e;
  overflow: hidden;
  height: calc(100vh - 4rem);
  display: none;
  z-index: 40;
  &.active {
    @apply transform opacity-100 translate-y-0;
  }
}
