
// a:hover {
//   @apply hover:underline;
// }
.test {
  display: none;
  top:40px;
}
header {
  z-index: -1;
}
.text-brown {
  color: #885e54;
}
.test {
  z-index: 99999;
}
.title-large {
  background: url(../images/bg-title-100.png) top center no-repeat;
  background-size: 125vw;
  min-height: 13.5vw;
  text-indent: -9999em;
  position: relative;
  z-index: 11;
  @screen xl {
    background-size: 100%;
    @apply -mt-20;
  }

}
.title-flower {
  @apply font-bold mb-2 text-center;
  font-size: 1.2rem;
  @screen xl {
    font-size: 1.7rem;
    @apply mb-10;
  }
  span {
    position: relative;
    &:after,
    &:before {
      position: absolute;
      width: 1rem;
      height: 1rem;
      content: ' ';
      background: url(../images/i-flower.png) no-repeat;
      background-size: 100%;
      top: 0.2rem;
      left: -3rem;
      @screen xl {
        width: 2.86vw;
        height: 2.86vw;
        top: 0;
        left: -6vw;
      }
    }
    &:before {
      top: 0;
      left: auto;
      right: -3rem;
      @screen xl{
        right: -6vw;
      }
    }
  }
}
.intro {
  @apply text-base mb-2;
}
.title-cate {
  @apply font-semibold;
}
.btn {
  @apply pl-4 py-2 pr-3 font-semibold pr-1 text-white flex items-center text-base;
  &.small {
    @apply font-semibold pr-1 text-white flex items-center text-sm;
    font-size: .9rem;
    padding-left: 1.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    span {
      @screen xl {
        height: 2vw;
        width: 2vw;
        margin-left: .5vw;
      }
    }
  }
  &.large {
    padding: .3vw .4vw .3vw 4vw;
    @apply font-semibold text-xl;
  }
  @screen xl {
    @apply py-0.5 pl-10 pr-1;
    font-size: 1.1rem;
  }
  background: #a6e2e3;
  box-shadow: 0 2px 0 #5cc9cb;
  border-radius: 1.6rem;
  span {
    @apply rounded-full bg-white ml-3 items-center flex justify-center;
    height: 5.6vw;
    width: 5.6vw;
    @screen xl {
      height: 2.6vw;
      width: 2.6vw;
    }
    svg {
      color: #a6e2e3;
      font-weight: 600;
    }
  }
  &:hover,
  &:focus {
    cursor: pointer;
    background: #5cc9cb;
    box-shadow: 0 2px 0 #37afb1;
    transition: all .5s;
    span {
      svg {
      }
    }
  }
}
// Box content
.box {
  border-radius: 4vw;
  padding: 10px;
  border-bottom-left-radius: 35px;
  @screen xl {
    border-bottom-left-radius: 80px;
  }
  background: url(../images/bg-ke.png);
  background-size: .5vw;
  border: .3vw solid #ff83ab;
  position: relative;
  &:after {
    content: ' ';
    background: url(../images/bg-goc-rt.png);
    position: absolute;
    width: 6.2vw;
    height: 6.2vw;
    background-size: 100%;
    bottom: -.3vw;
    left: -0.358vw;
    z-index: 9;
  }
  &.pink {
    background: url(../images/bg-ke-pink.png);
    border: .2vw solid #ff407e;
    &.small {
      border-radius: 2vw;
      padding: 13px;
      &:after {
        width: 3.4375vw;
        height: 3.4375vw;
        bottom: -.2vw;
        left: -0.2474vw;
        background: url(../images/bg-goc-lb.png);
        background-size: 3.4375vw;
      }
    }
  }
  &.box-tb {
    &:after {
      background: url(../images/bg-goc-rt.png);
      background-size: 3.4375vw;
    }
  }
  &.box-tl {
    border-bottom-left-radius: 4vw;
    border-top-left-radius: 35px;

    &:after {
      width: 8vw;
      height: 8vw;
      background: url(../images/bg-goc-tl.png) no-repeat;
      background-size: 6vw;
      top: -0.55vw;
      bottom: auto;
    }
  }
  &.item {
    padding: 4vw 6vw;
    &:after {
      width: 8vw;
      height: 8vw;
    }

  }
  &.none {
    background: url(../images/bg-congdung-box.png) no-repeat;
    background-size: 100%;
    width: 45%;
    @screen xl {
      width: 14vw;
    }
    border-radius: initial;
    border: none;
    &:after {
      content: none;
    }
  }
}

// Wakodo-Club
#wakodo-club {
  @apply fixed transition-all duration-200 ease-in-out z-10;
  width: 10.8vw;
  bottom: 5vw;
  right: 2vw;
  z-index: 50;
  @apply transform scale-150 opacity-0;
  &.sticky{
    @apply transform scale-100 opacity-100;
  }
  &.anim{
    animation: wakodoclub 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes wakodoclub{
  0%, 100% {
    opacity: 1;
    transform: scale(1)
  }
  50% {
    opacity: .7;
    transform: scale(1.1)
  }
}

.page {
  // background-color: #fff7ed;
  background: url(../images/bg-top-page.png) 0 6vw no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 3;
  margin-top: -6vw;
  @screen xl{
    background: url(../images/bg-top-page.png) 0 4vw no-repeat;
    background-size: 100%;
    margin-top: 0;
  }
  @apply pb-6;
  .wrapper {
    width: 90vw;
    margin: 0 auto;
    @screen xl {
      width: 60.67vw;
      margin: -2vw auto 2.5vw;
    }
  }
  .pagination {
    @apply flex justify-center;
    a {
      @apply font-semibold m-2 text-lg;
      color: #885e54;
      // border-radius: 50%;
      &.active, &:hover {
        // @apply bg-green-600 text-green-100;
        color:#ff407e;
      }
    }
  }
}
