@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

@import 'header';
@import 'confirm-popup';
@import 'detail';
// @import 'base';

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  background: #fff7ed;
}

// Confirm popup
.popup {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  display: none;
  &.active {
    display: flex !important;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(253, 80, 141, 0.49);
  }
  .content {
    position: relative;
    width: 94vw;
    @screen xl {
      background: url(../images/bg-popup.png);
      background-size: 60.625vw;
      width: 60.625vw;
      height: 45.625vw;
    }
    h3 {
      color: #885e54;
    }
    p {
      margin-bottom: 2vw;
      @apply text-sm;
      @screen xl {
        @apply text-base;
      }
    }
  }
  &.confirm-infomation {
    .content {
      background: url(../images/bg-confirm.png) no-repeat;
      height: 72vw;
      background-size: 100%;
      @screen xl {
        width: 32.6565vw;
        background: url(../images/bg-confirm.png) no-repeat;
        background-size: 32.6565vw;
        height: 25vw;
      }
    }
  }
}
// Header
#top-bar {
  .user {
    .login {
      // background: #fff url(../images/i-fblogin.png) no-repeat 0.32vw center;
      // background-size: 1.875vw;
      // border: 1px solid #ed3b94;
    }
  }
  .hotline {
    a {
      display: block;
      width: 13vw;
    }
  }
}

// Main menu
.wakodo-menu {
  height: calc(147vw / 19.2);
  background: url(../images/bg-menu.png) 50% 50% no-repeat;
  background-size: 100vw;
  > li {
    width: calc(237vw / 19.2);
    .menu-text {
      @apply transition-all;
    }
    // about sub menu
    &:nth-child(2) {
      .mask {
        // 50% + (item width / base * index from center)
        background-position: calc(50% + (237vw / 19.2 * 2)) 0;
      }
    }
    &:nth-child(6) {
      .mask {
        // 50% + (item width / base * index from center)
        background-position: calc(50% + (237vw / 19.2 * -2)) 0;
      }
    }
    &:hover {
      .menu-text {
        @apply text-pink-500;
      }
      ul {
        @apply translate-y-0;
        opacity: 1;
      }
      img {
        opacity: 0;
        @apply scale-0;
      }
      .menu-icon-hover {
        opacity: 1;
        @apply scale-100;
      }
    }
  }
  // Submenu
  .mask {
    height: calc(147vw / 19.2);
    background: url(../images/bg-menu.png) no-repeat;
    background-position: calc(50% + (237vw / 19.2)) 0;
    background-size: 100vw;
  }
  ul {
    @apply transition-all;
    @apply transform -translate-y-full;
    opacity: 0;
    background-color: #ff508e;
    padding-top: calc(147vw / 19.2);
    padding-bottom: 1vw;
  }
}
// Menu icon
.menu-icon {
  img {
    @apply transition-all;
    width: calc(61vw / 19.2);
    opacity: 1;
    @apply transform scale-100;
  }
  .menu-icon-hover {
    opacity: 0;
    @apply transform scale-0;
  }
}

// 100
.n-100 {
  position: relative;
  z-index: 4;
  margin-top: 0;
  @screen xl {
    background: url(../images/bg-bd-100.png) 0 4.2vw no-repeat;
    min-height: 49.7vw;
    background-size: 100%;
    margin-top: -8.1vw;
  }
  h2 {
    background: url(../images/bg-title-100.png) top center no-repeat;
    background-size: 125vw;
    min-height: 13.5vw;
    text-indent: -9999em;
    @screen xl {
      background-size: 100%;
    }
  }
  p {
    width: 90vw;
    @apply m-auto text-center font-semibold;
    margin-top: -2.5vw;
    padding: 6vw 0;
    @screen xl {
      width: 61.67vw;
      padding: 0;
    }
  }
}
// Product
.feature-products-list {
  background: url(../images/img-pro.png) top center no-repeat;
  background-size: 125vw;
  min-height: 92vw;
  .title-large {
    background: url(../images/tagline/text-sanphamnoibat.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
  @screen xl {
    background-size: 100%;
    min-height: 74vw;
    margin-top: 6vw;
    position: relative;
    z-index: 3;
  }
  .list {
    margin: 0 auto;
    padding-top: 12vw;
    @screen xl {
      padding-top: 7vw;
    }
    @apply flex justify-center text-center;
    li {
      margin: 0 0.32vw 3.6vw;
      img {
        width: 24.3vw;
        @screen xl {
          width: 19.3vw;
        }
      }
    }
  }
  .des {
    margin: -1vw auto 0;
    text-align: center;
    h3 {
      width: 60%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .btn {
      padding: .3vw .4vw .3vw 4vw;
      // @apply font-semibold text-xl;
      span {
        margin-left: 2vw;
      }
    }
    p {
      margin: -1vw auto 2.7vw;
      color: #ce39a2;
      font-size: .93rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      width: 24.3vw;
      @screen xl {
        width: 17.5vw;
      }
      margin: 1vw;
    }
  }
}

// News
.news-events {
  // background: #fff7ed url(../images/img-news.png) no-repeat top center;
  background-size: 100%;
  position: relative;
  margin-top: -7.3vw;
  @screen xl {
    margin-top: -6.3vw;
  }
  // padding-top: 8.65vw;
  h2 {
    background: url(../images/tagline/text-news-events.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }

  .wrapper {
    width: 90vw;
    margin: 0 auto;
    margin-top: -3.5vw;
    @screen xl {
      width: 60.67vw;
      margin-top: -4.5vw;
    }
    .news {
      .box {
        padding: 10px 10px 15px;
        border-radius: 4.7vw;
        // margin-bottom: 6.5rem;
        &::after {
          width: 8.2vw;
          height: 8.2vw;
        }
      }
      h3 {
        margin-bottom: 1.5rem;
      }

      .news-swiper {
        padding: 1vw 5.29vw 2vw;
      }
      h4 {
        @apply font-semibold;
        font-size: 1.2rem;
        padding-top: 1.2rem;
        padding-bottom: 1.5rem;
        @screen xl {
          font-size: 1.7rem;
          padding-top: 1rem;
          padding-bottom: .8rem;
        }
      }
      color: #885e54;
      p {
        margin-bottom: 1vw;
        line-height: 1.2em;
      }
      .btn {
        font-size: 1.3rem;
        @screen xl {
          padding: 0.3vw 0.4vw 0.3vw 4vw;
        }
      }
    }
    .event {
      h4 {
        @apply text-white text-center pt-3 font-semibold text-base;
      }
    }
  }
}
// Pagination
.swiper-pagination {
  bottom: 5.4vw;
  // margin-left: -4vw;
  display: flex;
  width: 100% !important;
  justify-content: center;
  margin-top: 1.7rem;
  @screen xl {
    margin-left: -4vw;
    margin-top: -2.7vw;
  }
  padding-bottom: 1vw;
  .swiper-pagination-bullet {
    @apply transition-all duration-200 ease-in-out;
    width: 2.1rem;
    height: 1rem;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    border-radius: 2rem;
    border: 1px solid #b4b2af;
    background: #fbf7f2;
    display: inline-block;
    transform: scale(1) !important;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: rgba(253, 91, 142, 0.5);
    border: 1px solid rgba(253, 91, 142, 0.5);
    width: 5rem;
    height: 1rem;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.96);
  }
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 .1vw;
}
.news-swiper.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
}
.news-swiper.swiper-container-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 3.1vw;
}
.news-swiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.36);
}
.news-swiper
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-next,
.news-swiper
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.news-swiper
  .swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1);
}
// FAQ
$midnight: #2c3e50;
$clouds: #ecf0f1;

// Layout

/* Accordion styles */
.faqs-page {
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  .tab {
    width: 100%;
    // color: white;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      // background: $midnight;
      font-weight: 600;
      color: #644138;
      cursor: pointer;
      /* Icon */
      &:hover {
        // background: darken($midnight, 10%);
      }
      &::after {
        content: '\276F';
        width: 1.6rem;
        height: 1.6rem;
        left: 1.6rem;
        border: none;
        @screen xl {
          width: 2vw;
          height: 2vw;
          line-height: 2vw;
        }
        color: #fff;
        background-color: #a6e2e3;
        border-radius: 50%;
        text-align: center;
        transition: all 0.35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color: #644138;
      background: white;
      transition: all 0.35s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      // background: $midnight;
      cursor: pointer;
      &:hover {
        // background: darken($midnight, 10%);
      }
    }
  }

  // :checked
  input:checked {
    + .tab-label {
      // background: darken($midnight, 10%);
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
}
// Contact page
.contact-page {
  .title-large {
    background: url(../images/tagline/text-lienhe.png) top center no-repeat;
    background-size: 125vw;
    @screen xl {
      background-size: 100%;
    }
  }
  .wrapper {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    @screen xl {
      flex-wrap: initial;
      flex-direction: row;
    }
  }
  .ele {
    margin-bottom: .7rem;
    @screen xl {
      margin-bottom: 1.1vw;
    }
    input,
    textarea {
      width: 100%;
      padding: .7rem 1rem;
      border-radius: 20px;
      color: #885e54;
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #885e54;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #885e54;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #885e54;
      }
    }
  }
  .contact-form {
    padding: 1rem;
    @screen xl {
      padding: 1.6vw 1.8vw;
    }
    border-radius: 3vw;
    border-width: 0.25vw;
    h4 {
      margin-bottom: 1.1vw;
      font-weight: 600;
    }
    .des {
      margin-bottom: 1.2vw;
    }
  }
}
.news-page {
}
.list-n {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .pink {
    flex: 0 32%;
    margin-top: 2vw;
    // margin: 0 1vw 2vw;
    // margin-bottom: 2%;
  }
  h4 {
    @apply text-white text-center pt-3 font-semibold text-base;
  }
}
.product-detail-page {
  h2 {
    background: url(../images/tagline/text-sanpham.png);
    background-size: 100%;
  }
  .overview {
    .detail-list {
      flex-wrap: wrap;
      flex: 50%;
        a {
          margin: 2vw;
        }
      @screen xl {
        flex: 25%;
        a {
          margin-bottom: 0;
        }
      }
    }
    .box {
      padding: 3.5vw 5.89vw 3vw;
      h3 {
        @apply text-2xl font-semibold mt-2 mb-2;
      }
      .des {
        li {
          @apply flex items-center;
          img {
            width: 4.6875vw;
            @apply mr-0.5;
          }
        }
      }
    }
  }
  #thong-tin {
    .content {
      ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background: #fed0d5;
        border-radius: 30px;
        text-align: center;
        @apply flex items-center justify-center;
        @screen xl {
          height: 4vw;
        }
      }
      ul.tabs li {
        background: none;
        color: #fd508d;
        font-weight: 600;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
      }

      ul.tabs li.current {
        background: #a6e2e3;
        box-shadow: 0 2px 0 #5cc9cb;
        border-radius: 1.6rem;
        @apply px-4 py-1 font-bold text-white text-base mx-1;
      }

      .tab-content {
        display: none;
        border: 2px solid #fed0d5;
        border-top: 0;
        padding: 4rem .3rem 3rem;
        margin-top: -2rem;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

        .holder {
          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #fd508d;
            border-radius: 15px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #f9d4ff;
          }
          &::-webkit-scrollbar-track {
            background: #f9d4ff;
            border-radius: 1px;
            box-shadow: inset 7px 10px 12px #f0f0f0;
          }
          @screen xl {
            height: 23.8vw;
            overflow: auto;
            margin-top: -2vw;
            padding: 4vw 5.3vw 3vw;
          }
          text-align: center;
          color: #644138;
          padding-bottom: 2vw;
          h4 {
            @apply text-xl font-semibold mt-1 mb-1;
          }
          h5,
          .kn {
            @apply text-base font-semibold;
          }
          .kn {
            font-weight: 400;
          }
        }
      }

      .tab-content.current {
        display: inherit;
      }
    }
  }
  #cong-dung {
    background: url(../images/bg-congdung.png) no-repeat;
    background-size: cover;
    @screen xl {
      background-size: 100%;
    }
    min-height: 40.2vw;
    .cp-box {
      flex-wrap: wrap;
      flex: 50%;
      @apply justify-between;
      padding: 2.4vw 0;
      @screen xl {
        flex-wrap: initial;
        padding: 0;
      }
    }
    .box {
      @apply text-center;
      margin: 0 0.3vw;
      height: 63vw;
      @screen xl {
        height: 20vw;
      }
      h3 {
        @apply font-semibold mt-1 mb-1;
        color: #644138;
      }
      p {
        font-size: small;
        margin-bottom: 0.2vw;

        span {
          @apply font-semibold;
        }
      }
      img {
        width: 6.5625vw;
        margin: 0 auto;
      }
      &:nth-child(even) {
        margin-top: 2.4vw;
      }
    }
  }
  #giai-phap {
    p {
      @apply mb-2;
    }
  }
  #chung-nhan {
    .cn-slider {
      .swiper-slide {
        padding: 3.5vw 5.89vw 3vw;
      }
    }
  }
}

// Footer
footer {
  padding: 1.5vw 0;
  .logo-footer {
  }
  ul {
    @apply pt-2 pb-2 mt-2 mb-2 text-center;
    border-top: 1px dashed rgba(255,255,255,.3);
    border-bottom: 1px dashed rgba(255,255,255,.3);
    @screen xl {
      border: none;
      @apply pt-0 pb-0 mt-0 mb-0 text-left;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 50%;
      }
    }
    a {
      @apply text-white font-semibold;
      font-size: .9rem;
      @screen xl {
        @apply text-base;
      }
    }
  }
}
