<!DOCTYPE html>
<html class="text-brown antialiased leading-tight" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body class="min-h-screen overflow-x-hidden">
    {% include "partials/site-header.html" %}
    <div class="">
      {% block content %}{% endblock %}
    </div>
    {% include "partials/site-footer.html" %}
    <script type="module" src="public/scripts/index.js"></script>
  </body>
</html>
