{% layout 'base.html' %}

{% block content %}
  <header>
    <div class="mx-auto z-0 relative">
      <video width="1920" height="350" autoplay="autoplay" loop>
        <source src="public/images/KV/animation_Motion.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
  </header>
  <main>
    <div class="mx-auto">
      {{ content }}
    </div>
  </main>
{% endblock %}
