<!DOCTYPE html>
<html class="text-gray-900 antialiased leading-tight dark" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body class="min-h-screen bg-white">
    {% block content %}{% endblock %}
  </body>
</html>
