---
permalink: 'about-us.html'
layout: 'layouts/home.html'
title: 'About'
meta:
  title: 'About'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner About Us'
---
<div class="aboutus-page page">
  <h2 class="title-large">
    <span>Hơn 100 năm trọn vẹn tin yêu</span>
  </h2>
  <div class="sec">
    <div class="wrapper">
      <h3><span>Lorem ipsum dolor sit amet consectetur</span></h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni harum cum soluta vero iste incidunt accusamus, rem a illum. Reprehenderit et asperiores nemo minima possimus eligendi voluptates quis enim dolor!</p>
    </div>
  </div>
  <div class="sec text-center">
    <h3><span>Lịch sử phát triển Wakodo</span></h3>
    <div class="list list-n wrapper">
      {% for i in (1..6) %}
        <div class="box pink small">
          <img alt="" src="public/images/news.jpg" class="max-w-full rounded-3xl">
          <h4>Bảo trợ phát triển quỹ phúc lợi doanh nghiệp</h4>
          <p class="justify-end flex mt-4">
            {% atarget "Xem thêm", 'dev-1' %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="devs popup large fixed flex items-center justify-center z-50" id = "dev-1">
  <div class="overlay absolute z-0"></div>
  <div class="content flex-none z-10 p-4 xl:p-8">
    <h3 class="text-xl xl:text-2xl text-center font-semibold mb-2 xl:mb-5">assss</h3>
      <p>Thông tin sản phẩm này chỉ dành cho Nhân viên Y tế hoặc người có nhu cầu tìm hiểu, nghiên cứu về sản phẩm.</p>
      <p class="note text-xs">* Vui lòng gọi vào số hotline 090 277 2806 để được tư vấn thêm
  về thông tin sản phẩm.</p>
      <p class="flex justify-center">
        {% atarget "Xác nhận", "dev-1" %}
      </p>
  </div>
</div>
