---
permalink: 'contact.html'
layout: 'layouts/home.html'
title: 'Contact'
meta:
  title: 'Contact'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Contact'
---
<div class="contact-page page pb-20">
  <h2 class="title-large">
    <span>Lien he</span>
  </h2>
  <div class="wrapper m-auto flex mt-2">
    <div class="contact-form xl:w-3/5 box boxrb bg-white p-5">
      <form action="">
        <h4 class="text-2xl xl:text-3xl">Gửi email cho chúng tôi</h4>
        <p class="des">Ba/mẹ vui lòng điền thông tin khi gửi câu hỏi cho WAKODO nhé. Những mục được đánh dấu (*) là bắt buộc.</p>
        <div class="ele">
          <input id="" name="" placeholder="Họ và tên (*)" type="text" class="form-input shadow">
        </div>
        <div class="ele">
          <input id="" name="" type="email" placeholder="Email (*)" class="form-input items-stretchshadow">
        </div>
        <div class="ele">
          <input id="" name="" placeholder="Tiêu đề" type="text" class="form-input shadow">
        </div>
        <div class="ele">
          <textarea name="" id="" cols="30" rows="10" placeholder="Nội dung (*)" class="form-input shadow"></textarea>
        </div>
        <div class="ele flex justify-end">
          {% button "Gửi đi", "#" %}
        </div>
      </form>
    </div>
    <div class="asagi-info xl:w-2/6 mb-4 xl:ml-7 xl:mb-0">
      <h4>Thông tin header ty</h4>
      <p>Công ty cổ phần Asahi Group Foods Asahi Group Foods, Ltd.</p>
      <p>Công ty cổ phần Asahi Group Foods Asahi Group Foods, Ltd.</p>
      <img src="public/images/asagi.png" alt="" class='max-w-full hidden xl:block'>
    </div>
  </div>
</div>
