---
permalink: 'faq.html'
layout: 'layouts/home.html'
title: 'FAQs'
meta:
  title: 'FAQs'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner FAQ'
---

<div class="faqs-page page">
  <h2 class="title-large"><span>Cau hoi thuong gap</span></h2>
  <div class="wrapper">
      <div class="tab">
        <input id="rd1" name="rd" type="radio" checked="checked">
        <label class="tab-label" for="rd1">Lorem ipsliqua. Ut eni. Lorem ipsliqua. Ut eni.Lorem ipsliqua. Ut eni.Lorem ipsliqua. Ut eni.</label>
        <div class="tab-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
        </div>
      </div>
      <div class="tab">
        <input id="rd2" name="rd" type="radio">
        <label class="tab-label" for="rd2">Lorem ipsliqua. Ut eni. </label>
        <div class="tab-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
        </div>
      </div>
  </div>
</div>
