---
permalink: 'index.html'
layout: 'layouts/home.html'
title: 'Trang chu'
meta:
  title: 'Trang Chu'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Trang Chu'
---
<div class="n-100">
  <h2 class="title-large">
    <span>Hơn 100 năm trọn vẹn tin yêu</span>
  </h2>
  <p>
    Với bề dày lịch sử hơn 100 năm, WAKODO tự hào là thương hiệu sữa công thức, thực phẩm cao cấp cho trẻ em đầu tiên và
    luôn được tin yêu tại Nhật Bản. Được sáng lập bởi Tiến sĩ Tsukasa Hirota – cha đẻ của ngành Nhi khoa Nhật Bản,
    Wakodo từ những ngày đầu tiên đã hướng tới sự phát triển toàn diện của trẻ nhỏ.
  </p>
</div>
<div class="feature-products-list">
  <h2 class="title-large">
    <span>Sản phẩm nổi bật</span>
  </h2>
  <ul class="list">
    <li><a href="#"><img alt="" src="public/images/p-mon.png"></a></li>
    <li><a href="#"><img alt="" src="public/images/p-step4.png"></a></li>
  </ul>
  <div class="des">
    <h3><img src="public/images/text-nentangdinhduong.png" alt=""></h3>
    <p>Thương hiệu sữa công thức đầu tiên tại Nhật Bản.</p>
    <p class="flex justify-center items-center mt-3 pb-10">
      {% abutton "Xem thêm", "#" %}
    </p>
  </div>
</div>
<div class="news-events">
  <h2 class="title-large"><span>Tin tức và sự kiện</span></h2>
  <div class="wrapper">
    <div class="news mb-6 xl:mb-20">
      <h3 class="title-flower"><span>Tin tức</span> </h3>
      <!-- Slider main container -->
      <div class="box">
        <div class="news-swiper swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            {% for i in (1..5) %}
            <div class="swiper-slide">
              <div class="news-item flex-none">
                <img alt="" class="max-w-full rounded-2xl" height="389" src="public/images/img-news-ex1.png" width="1008">
                <h4>Bảo trợ phát triển quỹ phúc lợi doanh nghiệp</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do ei vel facilisis consectetur adipiscing elit, sed do ei vel facilisis consectetur adipiscing elit, sed do ei vel facilisis consectetur adipiscing elit, sed do ei vel facilisis. commodo viverra maecenas accumsan lacus vel facilisis.
                <p class="hidden xl:flex justify-end mt-12">
                  {% abutton "Xem thêm", "#"%}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="events">
      <div class="event pb-20">
        <h3 class="title-flower"><span>Sự kiện</span></h3>
        <!-- Swiper -->
        <div class="swiper-container events-swiper ml-80 mr-80">
          <div class="swiper-wrapper">
          {% for i in (1..8) %}
            <div class="swiper-slide">
              <div class="box pink small">
                <img alt="" src="public/images/news.jpg" class="max-w-full rounded-3xl">
                <h4>Bảo trợ phát triển quỹ phúc lợi doanh nghiệp</h4>
                <p class="justify-end flex mt-4">
                  {% abutton "Xem thêm", "#", 'small' %}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
        </div>
      </div>
    </div>
  </div>

</div>
