---
permalink: 'news-detail.html'
layout: 'layouts/home.html'
title: 'Tin tức chi tiet'
meta:
  title: 'Tin tức chi tiet'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Tin tức chi tiet'
---
<div class="news-page news-detail-page page">
  <h2 class="title-large">
    <span>Tin tức nổi bật</span>
  </h2>
  <div class="wrapper">
    <div class="detail">
      <h3 class="title-detail">Bảo trợ phát triển quỹ phúc lợi doanh nghiệp</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet consequuntur at doloribus error sed laudantium recusandae molestias adipisci minima, cupiditate dicta culpa aspernatur, dolor cum tempore? Facilis perferendis optio eum?</p>
      <p><img alt="" class="max-w-full rounded-2xl" height="389" src="public/images/img-news-ex1.png" width="1008"></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ea quas reiciendis commodi natus rem molestiae. Consequatur eius obcaecati incidunt!</p>
      <p class="justify-end flex mt-8 mb-4">
        {% abutton "Chia sẻ", "#"%}
      </p>
    </div>
  </div>
  <div class="other-news-dt mt-16 pt-16 pb-6">
    <h3 class="title-flower">
      <span>Tin tức khác</span>
    </h3>
    <div class="wrapper list-n flex">
      {% for i in (1..3) %}
        <div class="box pink small">
          <img alt="" src="public/images/news.jpg" class="max-w-full rounded-3xl">
          <h4>Trung tâm chăm sóc sức khỏe trẻ em hàng đầu tại Nhật Bản</h4>
          <p class="justify-end flex mt-4">
            {% abutton "Xem thêm", "#" %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
