---
permalink: 'news-events.html'
layout: 'layouts/home.html'
title: 'Tin tức & Sự kiện'
meta:
  title: 'Tin tức & Sự kiện'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Tin tức & Sự kiện'
---
<div class="news-event-page page">
  <h2 class="title-large">
    <span>Tin tức nổi bật</span>
  </h2>
  <div class="wrapper">
    <div class="lastest box item">
      <div class="news-item">
        <img alt="" class="max-w-full rounded-2xl" height="389" src="public/images/img-news-ex1.png" width="1008">
        <h4>Bảo trợ phát triển quỹ phúc lợi doanh nghiệp</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. commodo viverra maecenas accumsan lacus vel facilisis.
        <p class="justify-end flex mt-8 mb-4">
          {% abutton "Xem thêm", "#"%}
        </p>
      </div>
    </div>


  </div>
  <div class="other-news mt-16 pt-6">
    <div class="wrapper list-n flex">
      {% for i in (1..6) %}
        <div class="box pink small">
          <img alt="" src="public/images/news.jpg" class="max-w-full rounded-3xl">
          <h4>Bảo trợ phát triển quỹ phúc lợi doanh nghiệp</h4>
          <p class="justify-end flex mt-4">
            {% abutton "Xem thêm", "#" %}
          </p>
        </div>
      {% endfor %}
    </div>
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
</div>
