---
permalink: 'products.html'
layout: 'layouts/home.html'
title: 'Sản phẩm'
meta:
  title: 'Products'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Product'
---
<div class="products-page page">
  <h2 class="title-large">
  <span> Sản phẩm sữa công thức</span>
  </h2>
  <div class="wrapper">
    <p class="text-center">
      Dòng sản phẩm cao cấp được sản xuất và nhập khẩu nguyên lon từ Nhật Bản, do các chuyên gia dinh dưỡng và chăm sóc trẻ em hàng đầu WAKODO, thương hiệu có hơn 100 năm kinh nghiệm nghiên cứu - sản xuất sữa bột và thức ăn cao cấp dành cho trẻ em Nhật Bản.
    </p>
    <div class="list mt-6">

      <div class="item box mb-6">
        <div class="content xl:flex">
          <div class="img-holder w-full xl:w-2/4">
            <img class="w-5/6 mx-auto" src="public/images/p-mon.png" alt="">
          </div>
          <div class="des w-full xl:w-2/4 xl:ml-6">
            <h4 class="title-cate">Sản phẩm dinh dưỡng</h4>
            <h3>WAKODO MOM</h3>
            <p class="intro">Nền tảng dinh dưỡng cho mẹ đang mang thai và cho con bú.</p>
            <p>
              WAKODO MOM là dòng sản phẩm cao cấp dành cho mẹ mang thai và cho con bú, giúp xây dựng nền tảng bền vững cho con ngay trong bụng mẹ. WAKODO MOM được sản xuất và nhập khẩu nguyên lon từ Nhật Bản, là giải pháp tối ưu do các chuyên gia dinh dưỡng, chăm sóc trẻ em hàng đầu nghiên cứu và xây dựng công thức phù hợp.
            </p>
            <p>Mẹ an tâm khi chọn WAKODO MOM với công thức bổ sung GOS, DHA, và Axít Folic, giúp cung cấp đủ các dưỡng chất cho thai kỳ khỏe mạnh, phát triển não bộ và thị giác của con.</p>
            <ul class='featfure-point-img flex mt-8 mb-2 xl:mb-8'>
              <li><img src="public/images/p-mon/i-tieuhoa-p.png" alt=""></li>
              <li><img src="public/images/p-mon/i-nao-p.png" alt=""></li>
              <li><img src="public/images/p-mon/i-thaiky-p.png" alt=""></li>
              <li><img src="public/images/p-mon/i-dekhang-p.png" alt=""></li>
            </ul>
          </div>
          </div>
          <div class="flex flex-0 justify-end">
            {% abutton "Xem thêm", "product-detail.html" %}
          </div>

      </div>
    </div>
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
</div>
