---
permalink: 'product-detail.html'
layout: 'layouts/home.html'
title: 'Sản phẩm chi tiet'
meta:
  title: 'Products'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Product chitiet'
---
<div class="product-detail-page page">
  <h2 class="title-large">
  <span>Sản phẩm sữa công thức</span>
  </h2>
  <div class="overview">
    <div class="box box-tl content wrapper">
      <div class="flex mb-6">
        <div class="img-holder w-2/5">
          <img src="public/images/p-mon.png" alt="">
        </div>
        <div class="des w-3/5 ml-6">
          <h4 class="title-cate">Sản phẩm dinh dưỡng</h4>
          <h3>WAKODO MOM</h3>
          <p class="intro">Nền tảng dinh dưỡng cho mẹ đang mang thai và cho con bú.</p>
          <ul>
            <li>
              <img src="public/images/p-mon/i-tieuhoa.png" alt="">
              <span>Hỗ trợ tiêu hóa khỏe mạnh.</span>
            </li>
            <li>
              <img src="public/images/p-mon/i-nao.png" alt="">
              <span>Hỗ trợ phát triển não và thị giác.</span>
            </li>
            <li>
              <img src="public/images/p-mon/i-thaiky.png" alt="">
              <span>Hỗ trợ thai kỳ khỏe mạnh.</span>
            </li>
            <li>
              <img src="public/images/p-mon/i-dekhang.png" alt="">
              <span>Hỗ trợ tăng cường sức đề kháng.</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex detail-list justify-center xl:justify-between">
        {% abutton "Giải pháp", "#giai-phap" %}
        {% abutton "Công dụng", "#cong-dung" %}
        {% abutton "Thông tin", "#thong-tin" %}
        {% atarget "Chứng nhận", "chung-nhan" %}
      </div>
    </div>
  </div>
  <div id="giai-phap" class="pt-12 pb-8">
    <div class="wrapper text-center">
      <h3 class="title-flower">
        <span>Giải pháp</span>
      </h3>
      <div class="intro">Dinh dưỡng cao cấp được các chuyên gia hàng đầu khuyên dùng</div>
      <p>
        WAKODO MOM là dòng sản phẩm cao cấp dành cho mẹ mang thai và cho con bú, giúp xây dựng nền tảng bền vững cho con ngay từ trong bụng mẹ.
      </p>
      <p>
        WAKODO MOM được sản xuất và nhập khẩu nguyên lon từ Nhật Bản, là giải pháp tối ưu do các chuyên gia dinh dưỡng, chăm sóc trẻ em hàng đầu nghiên cứu và xây dựng công thức phù hợp.</p>
      <p>
        Mẹ an tâm khi chọn WAKODO MOM bổ sung GOS, DHA, và Axít Folic, giúp cung cấp đủ các dưỡng chất cho thai kỳ khỏe mạnh, phát triển não bộ và thị giác của con.
      </p>
    </div>
  </div>
  <div id="cong-dung" class="pt-12 xl:pt-28">
    <div class="wrapper">
      <h3 class="title-flower"><span>Công dụng</span></h3>
      <div class="cp-box flex">
        <div class="box none">
          <img src="public/images/p-mon/i-nao-p.png" alt="">
          <h3>HỖ TRỢ HỆ TIÊU HÓA KHỎE MẠNH</h3>
          <p><span>Chất xơ (GOS)</span>: thúc đẩy sự phát triển của vi khuẩn có lợi trong đường ruột, giúp cải thiện hệ tiêu hóa và làm mềm phân.</p>
        </div>
        <div class="box none">
          <img src="public/images/p-mon/i-tieuhoa-p.png" alt="">
          <h3>HỖ TRỢ PHÁT TRIỂN NÃO BỘ VÀ THỊ GIÁC</h3>
          <p><span>DHA</span>: hỗ trợ phát triển não bộ và thị giác.</p>
        </div>
        <div class="box none">
          <img src="public/images/p-mon/i-thaiky-p.png" alt="">
          <h3>HỖ TRỢ THAI KỲ KHỎE MẠNH</h3>
          <p><span>Axit folic</span>: hỗ trợ hình thành các tế bào hồng cầu, giúp thai nhi phát triển khỏe mạnh.</p>
          <p><span>Sắt</span>: tạo ra tế bào hồng cầu.</p>
          <p><span>Canxi</span>: hỗ trợ hình thành, phát triển xương và răng.</p>
        </div>
        <div class="box none">
          <img src="public/images/p-mon/i-dekhang-p.png" alt="">
          <h3>HỖ TRỢ TĂNG CƯỜNG SỨC ĐỀ KHÁNG</h3>
          <p><span>Vitamin A, C, E</span>: giúp tăng cường sức đề kháng.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="thong-tin" class="pt-12">
    <div class="wrapper">
      <h3 class="title-flower"><span>Thông tin</span></h3>
      <div class="content">
        <ul class="tabs">
          <li class="tab-link current" data-tab="tab-ttsp">Thông tin sản phẩm</li>
          <li class="tab-link" data-tab="tab-ttdd">Thông tin dinh dưỡng</li>
          <li class="tab-link" data-tab="tab-hdsd">Hướng dẫn sử dụng</li>
        </ul>
        <div id="tab-ttsp" class="tab-content current">
          <div class="holder">
          Glucose syrup, sữa bột tách béo, hỗn hợp dầu thực vật (dầu palm, dầu palm kernel, dầu đậu nành), lactose, chất xơ (galacto-oligosaccharides (GOS)), calcium carbonate, potassium phosphate dibasic, sodium phosphate dibasic, axit docosahexaenoic (DHA) từ dầu cá, chất nhũ hóa (lecithin đậu nành), sodium-L-ascorbate, magnesium chloride, ferric diphosphate, chất chống oxy hóa (ascorbyl palmitate, hỗn hợp tocopherol tự nhiên), zinc sulphate, D-alpha-tocopherol, nicotinamide, calcium-D-pantothenate, pyridoxine hydrochloride, retinyl palmitate, thiaminchloride hydrochloride, N-Pteroyl-L-glutamic acid, riboflavin, potassium iodide, sodium selenite, phylloquinone, D-biotin, cholecalciferol, cyanocobalamin. Có chứa sữa.
          </div>
        </div>
        <div id="tab-ttdd" class="tab-content">
          <div class="holder">
            <table>
              <thead>
                <tr>
                  <td>Thành phần</td>
                  <td>Đơn vị</td>
                  <td>Trên 100g bột</td>
                  <td>Trên 200ml nước</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Energy</td>
                  <td>kcal</td>
                  <td>429</td>
                  <td>150</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="tab-hdsd" class="tab-content">
          <div class="holder">
            <h4>HƯỚNG DẪN SỬ DỤNG</h4>
            <p>Luôn pha ở nơi sạch sẽ. Rửa tay và dụng cụ thật sạch trước khi pha. Sử dụng nước sạch để pha.</p>
            <p>
              <img src="public/images/mom-hdsd.png" alt="">
            </p>
            <h5>Khuyến nghị</h5>
            <p class="kn">
              Sử dụng 2 - 3 ly mỗi ngày để đáp ứng nhu cầu dinh dưỡng gia tăng trong giai đoạn mang thai và cho con bú. </br>
              Tùy chỉnh lượng uống và số lần uống theo chế độ dinh dưỡng của bạn.</br>
              Sử dụng sản phẩm như một phần của chế độ dinh dưỡng hợp lý.</p>
            <h4>HƯỚNG DẪN BẢO QUẢN</h4>
            <p>Trước khi sử dụng, bảo quản nơi khô ráo, thoáng mát. Sau khi sử dụng, đóng kín nắp lon và để nơi khô ráo, thoáng mát, sạch sẽ. Nên dùng sản phẩm trước hạn sử dụng và sử dụng trong vòng 1 tháng sau khi mở nắp lon. Không lưu trữ trong tủ lạnh.</p>
            <h4>THẬN TRỌNG</h4>
            <p>Sử dụng sản phẩm ngay sau khi pha. Luôn sử dụng muỗng lường bên trong lon. Rửa sạch và lau khô muỗng lường sau khi sử dụng và để lại trong lon. Cẩn thận không để nước rơi vào trong lon, bột có thể bị vón cục khi tiếp xúc với nước.</p>
            <h4>CHÚ Ý</h4>
            <p>Không phù hợp cho trẻ sơ sinh.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup large fixed flex items-center justify-center z-50" id = "chung-nhan">
    <div class="overlay absolute z-0"></div>
    <div class="content flex-none z-10 p-4 xl:p-8">
      <div class="swiper-container cn-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for i in (1..5) %}
          <div class="swiper-slide">
            <img src="public/images/img-chungnhan.png" alt="">
            <h3>Thương hiệu sữa bột bán chạy hàng đầu tại Nhật</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te
          </div>
          {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination-cn"></div>
      </div>
      <div class="close" pl-target='chung-nhan'> X
      </div>
    </div>
  </div>
</div>
