---
permalink: 'search-result.html'
layout: 'layouts/home.html'
title: 'Search Result'
meta:
  title: 'Search Result'
header:
  banner: 'public/images/banner2.png'
  title: 'Banner Search'
---

<div class="search-page page">
  <h2 class="title-large"><span>Ket qua tim kiem</span></h2>
  <div class="wrapper">
    <form action="" class="search">
      <input type="text" name="" id=" ">
      <button>Tim kiem</button>
    </form>
    <h3 class="title-flower">
      <span>Sản phẩm WAKODO</span>
    </h3>
    <div class="list">
      {% for i in (1..6) %}
        <div class="box small">
          <img alt="" src="public/images/p-mon.png" class="max-w-full rounded-3xl">
          <p class="cate">Sản phẩm dinh dưỡng</p>
          <h4>WAKODO MOM</h4>
          <p class="justify-end flex mt-4">
            {% abutton "Xem thêm", "#" %}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
