
<div class="confirm-infomation popup fixed flex items-center justify-center z-50">
  <div class="overlay absolute z-0"></div>
  <div class="content flex-none z-10 p-4 xl:p-8">
    <h3 class="text-xl xl:text-2xl text-center font-semibold mb-2 xl:mb-5">XÁC NHẬN THÔNG TIN</h3>
      <p>Thông tin sản phẩm này chỉ dành cho Nhân viên Y tế hoặc người có nhu cầu tìm hiểu, nghiên cứu về sản phẩm.</p>
      <p class="note text-xs">* Vui lòng gọi vào số hotline 090 277 2806 để được tư vấn thêm
  về thông tin sản phẩm.</p>
      <p class="flex justify-center">
        {% button "Xác nhận", "#" %}
      </p>
  </div>
</div>
<div id="wakodo-club" class="">
  <a href="#">
    <img src="public/images/wakodo-club.png" alt="">
  </a>
</div>
<footer>
  <div class="container mx-auto p-2 xl:flex xl:align-center xl:justify-end">
    <div class="xl:align-center text-white w-8/12 xl:w-1/6 m-auto">
      <a href="#" class=""><img src="public/images/logo-footer.png" alt=""></a>
    </div>
    <ul>
      <li><a href="#">Trang chủ WAKODO</a></li>
      <li><a href="#">Thông tin liên lạc</a></li>
      <li><a href="#">Chính sách bảo mật</a></li>
      <li><a href="#">Thông tin về chuyên gia dinh dưỡng</a></li>
    </ul>
    <p class="flex items-center justify-center font-semibold text-white  p-2 text-sm">
        <svg
          title="©"
          class="h-4 w-4 mr-2"
          aria-labelledby="fa-copyright"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <title id="fa-copyright">@</title>
          <path
            fill="currentColor"
            d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033
            248-248S392.967 8 256 8zm216 248c0 118.663-96.055 216-216 216-118.663
            0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.663 0 216 96.055
            216 216zM360.474 357.366c-9.414 9.142-44.455 38.966-100.106
            38.966-77.825 0-136.513-60.551-136.513-140.846 0-77.951 58.345-137.596
            135.431-137.596 53.547 0 85.508 24.785 94.028 32.381a11.96 11.96 0 0 1
            1.721 16.001l-8.763 12.08c-4.034 5.561-11.877 6.579-17.203
            2.329-8.921-7.122-33.509-23.688-69.062-23.688-54.32 0-94.161
            41.791-94.161 98.131 0 58.209 40.791 102.104 94.882 102.104 39.538 0
            66.522-22.074 73.851-28.84 5.068-4.681 13.054-4.108 17.423 1.239l9.414
            11.534c3.969 4.861 3.564 11.828-.942 16.205z"
          />
        </svg>
        {{ "now" | date: "%Y" }} - Bảo hộ bản quyền bởi WAKODO
      </p>
  </div>
</footer>
