{% assign page_title = title | append : ' :: ' | append: site.name %}
{% if site.name == title %}
  {% assign page_title = title %}
{% endif %}
{% assign site_title = site.name %}
{% assign current_url = site.url | append: page.url %}
{% if meta.title %}
  {% assign page_title = meta.title %}
{% endif %}

<base href="{{site.url}}"/>

<meta charset="UTF-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>

<title>
  {{ page_title }}
</title>

<link rel="canonical" href="{{ site.url }}{{page.url}}"/>

<meta property="og:site_name" content="{{ site_title }}"/>
<meta property="og:title" content="{{ page_title }}"/>
<meta content="website" property="og:type"/>
<meta property="og:url" content="{{ site.url }}{{page.url}}"/>

{% if meta.desc %}
  <meta name="description" content="{{ meta.desc }}"/>
  <meta name="twitter:description" content="{{ meta.desc }}"/>
  <meta property="og:description" content="{{ meta.desc }}"/>
{% endif %}

<meta content="#4a5568" name="theme-color"/>

<link href="public/images/icons/icon-192x192.png" rel="apple-touch-icon"/>
<link href="favicon.ico" rel="icon" type="image/ico"/>
<link href="manifest.json" rel="manifest"/>

<link href="public/styles/vendor.css" rel="stylesheet"/>
<link href="public/styles/base.css" rel="stylesheet">
<link href="public/styles/index.css" rel="stylesheet"/>
