<div class="test absolute z-50 opacity-60">
  <img src="public/images/test-tintucd.png" alt="">
</div>
<nav id="top-bar" class="relative z-50">
  <div class="container m-auto px-2 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-12 text-white relative z-50">
      <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
        <!-- Mobile menu button-->
        <button id="mobile-menu-btn" pl-target="mobile-menu" pl-class="test-add-class" pl-self-class="test-self-class" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-pink-500 hover:bg-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <!--
            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <!-- Icon when menu is open. -->
          <!--
            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6 mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
      <div class="left-nav flex-1 flex ml-12 items-stretch justify-start">
        <div class="logo -mt-1 show-sticky items-center flex lg:hidden">
          <a href="{{site.url}}"><img src="public/images/logo-top.png" alt="Wakodo"></a>
        </div>
        <div class="hotline leading-8 hidden lg:block sm:ml-6">
          <a href="tel: 0902772806"><img src="public/images/hotline.jpg" alt="" class="h-9"></a>
          <!-- Hotline: 0902772806 -->
        </div>
        <div class="sticky-menu show-sticky hidden lg:flex sm:ml-6">
          <ul class="flex items-center space-x-4">
            {% for item in navigation.items %}
              {% if item.url == page.url %}
                {% assign active = 'active' %}
              {% else %}
                {% assign active = '' %}
              {% endif %}
              {% if item.children %}
                {% for child in item.children %}
                  {% if child.url == page.url %}
                    {% assign active = 'active' %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% if item.hide-sticky != true %}
                <li class="{{ active }}">
                  <a href="{{ item.url }}" class="text-base font-bold menu-icon">
                    <span class="menu-text">{{ item.text }}</span>
                  </a>
                  {% if item.children %}
                    <ul>
                      {% for child in item.children %}
                        {% if child.url == page.url %}
                          {% assign childActive = 'active' %}
                        {% else %}
                          {% assign childActive = '' %}
                        {% endif %}
                        <li class="{{ childActive }}">
                          <a href="{{ child.url }}" class="text-base font-bold menu-icon">
                            <span class="menu-text">{{ child.text }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="right-nav absolute inset-y-0 right-0 items-center pr-2 flex sm:static sm:inset-auto sm:ml-6 sm:pr-0 space-x-2">
        <div class="search relative">
          <form id="search" action="#" class="relative flex h-9">
            <input type="text" class="hidden bg-purple-white shadow rounded-full border-0 p-3 h-9 focus:outline-none pr-10 text-pink-500 w-0 transition-all ease-in duration-100" placeholder="Search by name...">
            <button pl-target="search input" pl-class="w-60" class="absolute top-0 right-0 rounded-full w-9 h-9 bg-white items-center flex justify-center focus:outline-none " type="submit">
              <svg class="text-pink-500 w-6 absolute" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              </svg>
            </button>
          </form>
        </div>
        <div class="user relative" id="user-btn" pl-target="user-menu">
          <a href="#" class="login rounded-3xl bg-white h-9 leading-9 px-10 xl:px-4 font-bold text-center text-pink-500 inline-block">
            <span class="hidden md:inline-block lg:hidden xl:inline-block">Đăng nhập</span>
          </a>
          <div id="user-menu" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 transition-all ease-out duration-100" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden transition-all ease-in duration-100" id="mobile-menu">
    <ul class="container m-auto px-2 sm:px-6 lg:px-8">
      {% for item in navigation.items %}
        {% if item.url == page.url %}
          {% assign active = 'active' %}
        {% else %}
          {% assign active = '' %}
        {% endif %}
        {% if item.children %}
          {% for child in item.children %}
            {% if child.url == page.url %}
              {% assign active = 'active' %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if item.hide-sticky != true %}
          <li class="{{ active }}">
            <a href="{{ item.url }}" class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-pink-500 hover:bg-opacity-70">
              <span class="menu-text">{{ item.text }}</span>
            </a>
            {% if item.children %}
              <ul>
                {% for child in item.children %}
                  {% if child.url == page.url %}
                    {% assign childActive = 'active' %}
                  {% else %}
                    {% assign childActive = '' %}
                  {% endif %}
                  <li class="{{ childActive }}">
                    <a href="{{ child.url }}" class="text-base font-bold menu-icon">
                      <span class="menu-text">{{ child.text }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
<div class="top2 hidden relative z-30 -mb-6 lg:block">
  <ul class="flex justify-center items-center wakodo-menu">
    {% for item in navigation.items %}
      {% if item.url == page.url %}
        {% assign active = 'active' %}
      {% else %}
        {% assign active = '' %}
      {% endif %}
      {% if item.children %}
        {% for child in item.children %}
          {% if child.url == page.url %}
            {% assign active = 'active' %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if item.hide-sticky == true %}
        {% assign sticky = 'opacity-0' %}
      {% else %}
        {% assign sticky = '' %}
      {% endif %}
      <li class="relative h-full flex items-center justify-center {{ active }} {{ sticky }}">
        <a href="{{ item.url }}" class="flex flex-col items-center text-base font-bold relative z-30 menu-icon {{ active }}">
          <span class="img-url relative">
            <img src="{{ item.icon-url }}" alt="" class=""/>
            <img src="{{ item.icon-url-active }}" alt="" class="menu-icon-hover absolute top-0 left-0"/>
          </span>
          <span class="menu-text whitespace-nowrap">{{ item.text }}</span>
        </a>
        {% if item.children %}
          <div class="absolute left-0 bottom-0 right-0 mask z-20"></div>
          <ul class="absolute top-4 left-0 right-0 w-auto z-10 rounded-3xl">
            {% for child in item.children %}
              {% if child.url == page.url %}
                {% assign childActive = 'active' %}
              {% else %}
                {% assign childActive = '' %}
              {% endif %}
              <li class="block py-2 text-center {{ childActive }}">
                <a href="{{ child.url }}" class="">
                  <span class="submenu-text text-white hover:underline font-bold">{{ child.text }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
